{% extends "index.njk" %}

{% block title %}
    <title>Nova Transação</title>
{% endblock %}

{% block modal %}
    <form action="/devfinance" method="post">
        {% include "fields.njk" %}
    </form>
{% endblock %}