{% extends "index.njk" %}

{% block title %}
    <title>{{modalTitle.subtitles[1]}}</title>
{% endblock %}

{% block modal %}
    <form action="/devfinance?_method=PUT" method="post">
        {% include "fields.njk" %}

        <input type="hidden" name="id" value="{{movement.id}}">
    </form>
{% endblock %}